<!DOCTYPE html>
<html>
  <head>
    <title>Talk charactor! enjoy!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </head>
  <body>
    <h1>@SEGA_OFFICIAL</h1>
    <div id = image>Image</div>
    <form id="message_form" action="#">
      <input type="text" id="input_msg" autocomplete="off" required><button>Send</button>
    </form>
    <ul id="messages"></ul>
  </body>
</html>
